// Your styles go here

$primary: #120e21;
$link: #635898;
$info: #917bc8;
$success: #baa2e3;
$warning: #a294bb;
$spacer: 2rem;
$navbar-breakpoint: 610px;
$rounded-corners: 10px;
$footer-background-color: $info;
$navbar-item-hover-background-color: $success;
@mixin center-image {
  display: block;
  margin: auto;
}

@import "~bulma/bulma";

.rounded {
  border-radius: $rounded-corners;

  div {
    h4 {
      color: $warning;
    }
    p {
      color: $warning;
    }
  }
}

.rounded-light {
  border-radius: $rounded-corners;

  div {
    h4 {
      color: $primary;
    }
    p {
      color: $primary;
    }
  }
}


.fa {
  color: $link;
  font-size: 30px;
}

.icon-container {
  text-align: center;
}

.img-center {
  @include center-image();
}

#hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.is-vertical-center {
  display: flex;
  align-items: center;
}


  
  .hero {
    padding: $spacer
  }

  .card-image {
    padding: $spacer
  }

  .gear-img {
    width: 250px; /*set the width or max-width*/
    height: 300px; /*this makes sure to maintain the aspect ratio*/
  }

  .is-flex {
    flex-direction: column;
    justify-content: center;
  }

  .gear-list {
    text-align: left;
  }

  .spacer {
    margin: $spacer
  }
  // Small devices
  @media (max-width: 610px) {
    .hero-body {
      h1 {
        font-size: 1.5rem;
      }
      h2 {
        font-size: 1rem;
      }
    }

    div {
      article {
        padding: $spacer;
      }
    }

    .container {
      padding: $spacer;
    }
  }

  // Large devices
  @media (max-width: 992px) {
    .rounded {
      margin-top: $spacer
    }
    .rounded-light {
      margin-top: $spacer
    }

    #tshirt {
      width: 500px;
      height: auto;
      @include center-image()
    }
    .container {
      padding: 1rem;
    }
  }

