// Your styles go here

$primary: #120E21;
$link: #635898;
$info: #917BC8;
$success: #BAA2E3;
$warning:#A294BB;
$navbar-breakpoint: 610px;

$footer-background-color: $info;
$navbar-item-hover-background-color: $success;




@import "~bulma/bulma";

#hero-title{
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.is-vertical-center {
    display: flex;
    align-items: center;
  }
  

  #tab-content p {
    display: none;
  }
  
  #tab-content p.is-active {
    display: block;
  }



    .rounded {
    border-radius: 10px;

    div {
      h4 {
        color: $warning;
      }
      p {
        color: $warning;
      }
    }
  }

.hero {
  padding: 2rem;

}

.card-image {
  padding: 2rem;

  
}

.img-center {
  display: block;
  margin: auto;
}

.spacer {
  margin: 2rem;
}
// Small devices 
@media (max-width: 610px) { 
  .hero-body  {
      h1 {
        font-size: 1.5rem;

      }
      h2 {
          font-size: 1rem;
      }
     
  }
    
 }

// Large devices 
@media (max-width: 992px) { 
    .rounded {
      margin-top: 0.5rem;
    }
 }


